<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		{% load static %}
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
		<meta name="author" content="Codrops" />
		<title>Augmented Tool</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/addons/p5.sound.min.js"></script>
    	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

    	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />

		<script src="{% static 'javascript/modernizr.custom.js' %}"></script>
		<script src="{% static 'javascript/classie.js' %}"></script>
		<script src="{% static 'javascript/gnmenu.js' %}"></script>
		<script src="{% static 'javascript/multiSketch.js' %}"></script>
	</head>
	<body>
		<form action="multiImage" method="POST" enctype="multipart/form-data">
		<div class="container">
			
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li>
									<a class="gn-icon gn-icon-download">Totel Images</a>
									<ul class="gn-submenu">
										<li>
											<input placeholder="Images" type="number" name="count" class="gn-search">
										</li>
									</ul>
								</li>
								<li>
									<a class="gn-icon gn-icon-download">Rotation Range</a>
									<ul class="gn-submenu">
										<li>
											<input placeholder="Minimum" type="number" name="min-rotate" class="gn-search">
									
										</li>
										<li>
											<input placeholder="Maximum" type="number" name="max-rotate" class="gn-search">
											
										</li>
									</ul>
								</li>
								<li>
									<a class="gn-icon gn-icon-download">Width Shift Range</a>
									<ul class="gn-submenu">
										<li>
											<input placeholder="Minimum" type="number" name="min-width" class="gn-search">
											
										</li>
										<li>
											<input placeholder="Maximum" type="number" name="max-width" class="gn-search">
									
										</li>
									</ul>
								</li>
								<li>
									<a class="gn-icon gn-icon-download">Height Shift Range</a>
									<ul class="gn-submenu">
										<li>
											<input placeholder="Minimum" type="number" name="min-height" class="gn-search">
										
										</li>
										<li>
											<input placeholder="Maximum" type="number" name="max-height" class="gn-search">
											
										</li>
									</ul>
								</li>
								<li>
									<a class="gn-icon gn-icon-download">Shear Range</a>
									<ul class="gn-submenu">
										<li>
											<input placeholder="Minimum" type="number" name="min-shear" class="gn-search">
											
										</li>
										<li>
											<input placeholder="Maximum" type="number" name="max-shear" class="gn-search">
											
										</li>
									</ul>
								</li>
								<li>
									<a class="gn-icon gn-icon-download">Zoom Range</a>
									<ul class="gn-submenu">
										<li>
											<input placeholder="Minimum" type="number" name="min-zoom" class="gn-search">
									
										</li>
										<li>
											<input placeholder="Maximum" type="number" name="max-zoom" class="gn-search">
									
										</li>
									</ul>
								</li>
								<li>
									<a class="gn-icon gn-icon-download">Brightness Range</a>
									<ul class="gn-submenu">
										<li>
											<input placeholder="Minimum" type="number" name="min-bright" class="gn-search">
											
										</li>
										<li >
											<input placeholder="Maximum" type="number" name="max-bright" class="gn-search">
											
										</li>
									</ul>
								</li>

								<li>
									<a class="gn-icon gn-icon-download">Horizontal Flip</a>
									<ul class="gn-submenu">
										<li >
											<input placeholder="type 1" type="number" name="hflip" class="gn-search">
										</li>
										
									</ul>
								</li>
								<li>
									<a class="gn-icon gn-icon-download">Vertical Flip</a>
									<ul class="gn-submenu">
										<li >
											<input placeholder="type 1" type="number" name="vflip" class="gn-search">
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</nav>
				</li>
				
			</ul>
			<header>
				
					{% csrf_token %}
					<ul class="label">
						X Min: <input type="number" id="xmin" name="xmin" class="gn-search">
						Y Min: <input type="number" id="ymin" name="ymin" class="gn-search">
						X Max: <input type="number" id="xmax" name="xmax" class="gn-search">
						Y Max: <input type="number" id="ymax" name="ymax" class="gn-search">
						LABEL: <input type="text" id="label" name="label" class="gn-search">
					</ul>
					<ul>	
						IMAGE: <input type="file" id="image" name="image" onchange="readImageURL(this);" webkitdirectory mozdirectory>
						BACKGROUND: <input type="file" name="background" webkitdirectory mozdirectory>
						<input type="button" value="LEFT" onclick="leftChange()" id="btn">
						<input type="button" value="RIGHT" onclick="rightChange()" id="btn">
						
						
					</ul>
					<ul>
						PATH: <input type="text" id="path" name="path" class="gn-search">
						<input type="submit" value="Submit" id="btn">
					</ul>
			
			</header> 
		
		</div>
		</form>
		
		<script>
			var csrftoken = '{{ csrf_token }}';
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>