body {
    background: rgb(243, 82, 82);
}

.center {
  display: block;
  margin: auto;
  padding: 10px
}
.content {
    position: absolute;
    top: 50%;
    left: 30%;
    background: rgb(222, 233, 71);
    padding: 10px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn {
  background-color: rgb(77, 248, 71);
  color: white;
  padding: 5px 10px;
  margin: 8px 0;
  border: rounded;
  border-radius: 20px;
  cursor: pointer;
  width: 5%;
}

.btn:hover {
  opacity: 0.2;
}      