body {
    background: rgb(243, 82, 82);
}

canvas {
  display: block;
  margin-top: auto;
  margin-left: auto;
}
.content {
    position: absolute;
    top: 50%;
    left: 30%;
    background: rgb(222, 233, 71);
    padding: 10px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


        